/* logo */
        .logo {
            position: absolute;
            z-index: 1;
            top: 5%;
            /* Adjust top position relative to viewport height */
            left: 5%;
            /* Adjust left position relative to viewport width */
            display: block;
        }

        .logo img {
            height: 10vw;
            /* Adjust height relative to viewport width */
            max-height: 140px;
            /* Set a maximum height to prevent the logo from getting too large on larger screens */
            width: auto;
            /* Maintain aspect ratio */
        }

        /* Media query for small devices */
        @media (max-width: 600px) {
            .logo img {
                height: 20vw;
                /* Larger logo for smaller devices */
            }
        }

        button {
            padding: 10px;
            font-size: 1em;
            background-color: #000000;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: rgb(57, 200, 145);
        }

        .image {
            max-width: 300px;
        }

        /* Cart button and notification styles */
        .cart-btn {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: #0056b3;
            color: #fff;
            padding: 5px 5px;
            border-radius: 5px;
            cursor: pointer;
            z-index: 1000;
            display: block;
            /* Initially hidden */
        }

        .cart-btn:hover {
            background-color: #4179b5;
        }
