.newsletter-msg {
                    margin-top: 10px;
                    color: rgba(255, 255, 255, .85);
                    display: flex;
                    gap: 10px;
                    align-items: flex-start;
                }

                .newsletter-msg svg {
                    width: 18px;
                    height: 18px;
                    flex: 0 0 auto;
                    margin-top: 2px;
                }
