/* Navigation Bar Styles */
    .navbar {
      display: flex;
      justify-content: center;
      background-color: #333333d0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 3;
    }

    .nav-links {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
    }

    .nav-item {
      position: relative;
    }

    .nav-item a {
      display: block;
      color: white;
      padding: 14px 20px;
      text-decoration: none;
      text-align: center;
    }

    .nav-item a:hover {
      background-color: #ddd;
      color: black;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 3;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
      z-index: 3;
    }

    /* Set the body and html to take up the full height and width */
    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      /* Prevent scrolling */
    }

    /* Set the container to be positioned 46.4px from the top */
    .embed-container {
      position: absolute;
      top: 46.4px;
      left: 0;
      right: 0;
      bottom: 0;
    }

    /* Set the embed element to take up the full viewport */
    .full-screen-embed {
      width: 100%;
      height: 100%;
      border: none;
      /* Remove the border if not needed */
    }
