.content {
      transform: none;
    }

    body,
    html {
      overflow: hidden;
      height: 100%;
    }

    a.button {
      color: #8b00ff;
      text-decoration: none;
      font-weight: bold;
      background: black;
      border: 2px solid #8b00ff;
      padding: 15px 25px;
      font-size: 18px;
      border-radius: 8px;
      display: inline-block;
      margin-top: 20px;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      color: #333;
    }

    .content-section {
      padding: 50px 20px;
      margin: 20px auto;
      max-width: 900px;
      background-color: #262c34;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }

    h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
      color: #ffffff;
    }

    h2 {
      font-size: 2rem;
      margin-top: 20px;
      color: #555;
      border-radius: 2rem;
    }

    p {
      line-height: 1.6;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .portfolio-grid,
    .blog-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
    }

    .portfolio-item,
    .blog-post {
      padding: 20px;
      background-color: #241e45;
      border: 1px solid #ddd;
      border-radius: 8px;
      transition: box-shadow 0.3s;
    }

    .portfolio-item:hover,
    .blog-post:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    label {
      font-weight: bold;
    }

    input,
    textarea {
      padding: 10px;
      font-size: 1em;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    button {
      padding: 10px;
      font-size: 1em;
      background-color: #000000;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: rgb(57, 200, 145);
    }

    #firsthero .background {
      z-index: 0;
      position: relative;
      margin: -40rem;
    }

    /* Additional styling for responsiveness */
    @media (min-width: 794px) {
      .content {
        transform: scale(1.7);
      }
    }

    @media (max-width: 768px) {
      #image-slide-right {
        display: none;
      }

      #section3 {
        height: 40vh;
      }
    }

    @media (min-width: 1302px) {
      .content {
        transform: scale(3);
      }
    }

    @media (max-width: 768px) {
      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.5em;
      }

      .content-section {
        padding: 30px 15px;
      }

      button {
        padding: 8px;
        font-size: 0.9em;
      }
    }
