.dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-content a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      padding: 12px 16px;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #2d2849;
    }

    .navbar-toggle {
      display: none;
      background-color: #333;
      color: white;
      padding: 14px 20px;
      border: none;
      cursor: pointer;
      font-size: 18px;
    }

    /* Responsive styles */
    @media (max-width: 768px) {
      .nav-links {
        flex-direction: column;
        display: none;
      }

      .nav-links.show {
        display: flex;
      }

      .navbar-toggle {
        display: block;
      }
    }
