body {
			height: 100vh;
			width: 100%;
			margin: 0;
			display: flex;
			overflow-y: hidden;
		}

		#sidebar {
			width: 200px;
			background-color: #f4f4f4;
			border-right: 1px solid #000;
			padding: 10px;
			box-sizing: border-box;
		}

		#svg-container {
			flex-grow: 1;
			position: relative;
		}

		#svg {
			width: calc(100% - 2px);
			height: 100%;
			border: 1px solid #000;
			cursor: crosshair;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
